body {
    background-color: rgb(74, 74, 74);
}

#calculator-container {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    height: 392px;
    background-position: center;
    display: flex;

}

#calculator-body {
    background-color: black;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}

#display {
    background-color: white;
    min-height: 24px;
}

#format-buttons {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.button-container {
    display: flex;
}

.main-buttons {
    display: flex;
    flex-direction: column;
}

.main-buttons * {
    margin: 1px;
}

#addition {
    height: 200%;
}